{% extends "./blog/base.html" %}

{%block main%}

    <section id="page1" class="page1" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
             xmlns="http://www.w3.org/1999/html">
        <div class="row" >
            <div id="vmaig-content" class="col-md-2 col-lg-2" style="margin-left: 24px">
                <img src="/static/img/logo.jpg" style="width:170px"/>
                <div>
                    <p style="font-size: large; margin-left: 5px">
                        <B>F·BROTHER CLUB</B>
                    </p>
                    <p style="font-size: 19px;color: #a70b01;  text-shadow: 0 0 15px #0f0f0f;">
                        <B>创始人：姚红刚 姚志奎</B>
                    </p>
                    <img src="/static/img/weixin2d.jpg" style="width:140px; margin-top: 30px; margin-left: 8px"/>
                    <p style="font-size: 14px; margin-top: 160px; ">
                        地址：<B>朝阳区望京西路鹿港嘉苑13号</B></br>
                        电话：<B>010-58498612</B></br>
                        新浪微博：<B>@格斗兄弟训练馆</B>
                    </p>
                </div>

            </div>
            <div class="col-md-5 col-lg-5">
                <img src="/static/img/both.jpg" style="width:460px; margin-left: 40px"/>
            </div>
            <div class="col-md-3 col-lg-3">
                <img src="/static/img/price.jpg" style="width:400px; margin-top: 40px"/>
            </div>
        </div>
    </section>
    <section id="page2" class="page2" style="margin-top: -107px">
        <div style="background-color: #000000; width: 100%; height: 840px; padding: 0px;">
                        <div class="container" style="color:#ffffff; ">
                            <div id="page2-flag" style="margin-top: 100px"></div>
                                <div  style="font-size:18px; margin-top: 200px; text-indent: 2em">
                    <p>    格斗兄弟训练馆的创立源自对现代格斗及大众健身的热爱，以及推广传统格斗艺术的热情，以天行健、
                        地势坤的自然法则为创馆信念。</p>
                    <p> 格斗兄弟训练馆的最大特色是不仅创立了全新的格斗健身训练理念、体系与训练方法，更注于从格斗和武术运动中汲取灵感，
                        研发设计高质量的格斗搏击健身课程，其中元素包括综合格斗、泰拳、散打、巴西柔术、中国跤、跆拳道等，在每个单项训练
                        项目均配备专业设施，打造出格斗训练的实况感和真实性.
                    </p>
                </div>
                <div style="font-size:18px; margin-top: 60px">
                    <p>The institution of F.Brother Gym comes from the interest for modern fighting system and common
                        training concepts. The aim is to widespread passion from traditional martial arts,
                        by means of orthodox and naturalistic philosophy.</p>
                    <p>The biggest feature of the Gym is not only establish a brand-new training concept or system or method,
                        but to capture the interest for martial arts, and research for high-level fighting courses,
                        which provide for training in Thai Boxing, Sanda, Brazilian JiuJitsu, Chinese Wrestling,
                        Tae Kwondo and so on. Every course is professionally arranged guarantee the effectiveness and the
                        authenticity of fighting systems.
                    </p>
                </div>

                <div class="row"  style="margin-top: 50px; font-size: 16px">
                    <div class="col-md-4 col-lg-4">
                        <img src="/static/img/p2.jpg" style="width:330px; margin-top: 20px"/>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <h2 style="margin-left: 20px">对会员的益处：</h2>
                        <ul type="square">
                            <li>专业的搏击训练体验！</li>
                            <li>全面提升训练效果的健身课程！</li>
                            <li>间歇训练方式最大限燃烧热量！ </li>
                            <li>互动训练提升训练中的乐趣！ </li>
                            <li>学习使用自我防御技能！ </li>
                            <li>减轻工作压力、摒弃亚健康、塑造个人魅力！</li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <h3 style="margin-left: 20px">TO MEMBERS BENEFITS：</h3>
                        <ul type="square">
                            <li>More professional!</li>
                            <li>More result!</li>
                            <li>More calorie Burn!</li>
                            <li>More fun!</li>
                            <li>More self defend skills!</li>
                            <li>More self confident!</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="page3" class="page3" >
        <div style="width: 100%; height: 730px; padding: 0px;">
            <div id="page2-flag" style="margin-top: 70px"></div>
            <div class="container" style="margin-left: 70px">
                <img src="/static/img/coach.jpg" style="width:1200px; margin-top: 150px; text-align: center"/>
            </div>
        </div>
    </section>


    <section id="page4" class="page4" >
        <div style="background-color:#000000; width: 100%; height:850px; padding: 0px;">
            <div class="container" style="text-align: center">
                <img src="/static/img/courseintro.jpg" style="width:800px; margin-top: 150px; text-align: center"/>
            </div>
        </div>
    </section>

    <section id="page5" class="page5" >
        <div style="width: 100%; height:720px; padding: 0px;">
            <div class="container">
                <div style="margin-top: 100px">
                    <h3 style="text-align: center">格斗训练的意义</h3>
                    <div style="margin-top:50px; font-size:16px; text-indent: 2em; line-height:26px">
                        <p>格斗的运动形式变化无穷，要求能在较短的时间里正确估计和了解对手的情况，并做出相应的反应，
                            用熟练的技术动作、顽强的意志和灵活的战术去战胜对手。
                            因此格斗技能训练对练习者身体的锻炼、心理的锻炼，都有着不可低估的作用。
                            所以，不管是军警人员或是平时的搏击爱好者加强这方面的训练意义重大。</p>


                        <p>一、能够提高人的速度 </p>
                        <p> 无论是击打对方还是躲避对方的进攻都需要速度，没有速度就会处处受制于人，也就谈不上技术的发挥。
                            可以说，速度是决定格斗双方胜负的关键。进行系统严格的训练，有助于提高人的思考和动作的速度。
                        </p>

                        <p>二、能够增强人的力量 </p>
                        <p> 这又是决定格斗胜负的一个重要条件，很多格斗技能都需要一定的力量来做基础，力量达不到，
                            也会处于被动。经过科学的、持之以恒的格斗技能训练就能够有效地增强人体肌肉的力量。
                        </p>

                        <p>三、能够促进人的敏捷性 </p>
                        <p>格斗中，在双方技术、速度和力量基本相当的情况，谁的神经系统反应迅速，身体动作敏捷，
                            谁就能够掌握主动权，有效地攻击对方。在格斗技能训练中，对动作的敏捷有很高的要求。所以，
                            经常进行这方面的训练，对我们每个练习者来说，在促进人的敏捷性上都有很大帮助。
                            当然我们这里谈的敏捷性既包括身体的敏捷性，也包括思维的敏捷性。
                            四、对人的心理健康也有很大的帮助
                            对于一些心理上有压力的朋友来说，比如性格较内向、自信心不强或是心胸较狭隘的人，
                            经过一段时间的练习，就会发现自己的性格有很大改变。这和格斗技能训练的特点及方法有很人关系。
                            总之，格斗技能训练对锻炼人的身体，培养人的意志，塑造人的性格，陶冶人的情操有着相当重要的意义。
                        </p>

                    </div>
                </div>

            </div>
        </div>
    </section>

    <section id="page6" class="page6" >
        <div style="background-color:#000000; width: 100%; height:2px; padding: 0px;">
            <div class="container" style="text-align: center">
            </div>
        </div>
    </section>


    <section id="page7" class="page7" >
        <div style="width: 100%; height:650px; padding: 0px;">
            <div class="container" >
                <div class="row" style="margin-top: 80px; font-size: 18px">
                    <div class="col-lg-4 col-md-4">
                        <p>网址：www.fbrother.cn</p>
                        <p>地址：望京桥北行200米路东鹿港嘉苑小区50号院13号楼</p>
                        <p>电话：010-58498612</p>
                        <p>新浪微博：@格斗兄弟训练馆</p>
                        <p>乘车路线：地铁10号线，太阳宫站B口出步行10分钟；</br>
                            也可换乘公交（乘坐422；130；427；471；571；专122；132；467；851；567；944；966；985；939望京桥北站下车北行200米）</p>
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                  <img src="/static/img/weixin2d.jpg" title="微信公众号二维码" style="width:130px;  "/></br>
                                <p style="margin-left: -7px">微信公众号二维码</p>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                  <img src="/static/img/web2d.jpg" title="网站二维码" style="width:135px;  "/></br>
                                <p style="margin-left: 21px">网站二维码</p>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-8 col-md-8">
                        <img src="/static/img/baidumap.jpg" style="width:680px;  "/>
                    </div>
                </div>


            </div>
        </div>
    </section>

{% endblock %}
